{% extends "base.html" %}
{%block body %}
        <div class="container">
            <div class="row">
                <div style="width:40%; margin:25px auto">
                    <h3>Login</h3>
                    <form method="POST" action="/" style="text-align: center;">
                        <div class="form-group">
                            <label>Username : </label>
                            <input type="text" name="UserName" class="form_control" autofocus required/>
                        </div>
                        <br/>
                        <div class="form-group"></div>
                            <label>Password : </label>
                            <input type="password" name="Password" class="form_control" autofocus required/>
                        </div>
                        <div class="form-group" id="button">
                            <input type="submit" class="btn btn-primary" value="Sign In">
                        </div>
                    </form>
                        <p>New Here? <a href='/register'>Sign Up</a></p>
                        <br>
                        <h6>{{info}}</h6>
                </div>
            </div>
        </div>
{% endblock %}