{% extends "base.html" %}
{%block body %}
            <div class="container">
                <div class="row">
                    <div style="width:40%; margin:25px auto">
                        <h3>Register</h3>
                        <form method="POST" action="/register" style="text-align: center;">
                            <div class="form-group">
                                <label>Username : </label>
                                <input type="text" name="UserName" class="form_control" required autofocus />
                            </div>
                            <br />
                            <div class="form-group">
                            <label>Password : </label>
                            <input type="password" name="Password" class="form_control" required autofocus />
                            </div>
                            <br/>
                            <div class="form-group">
                            <label class='ip'>Re-enter Password : </label>
                            <input class='ip' type="password" name="PasswordTrial" class="form_control" autofocus required/>
                            </div>
                    </div>
                    <div class="form-group" style="text-align: center; position:relative; left:100px;">
                        <input type="submit" class="btn btn-primary" value="Register">
                    </div>
                    </form>
                    <h6>{{info}}</h6>
                </div>
            </div>
{% endblock %}